<!doctype html>
{{define "indexPage"}}

<html>

{{template "header"}}

<body>
	{{template "nav"}}
	<h1>Dan Rousseau</h1>

	<p>
		I am a software developer based in Johannesburg, South Africa. I have five years of professional
		experience building and deploying games, virtual reality experiences, cloud applications, and
		maintaining servers. I have gained skills in many aspects of the IT and development industry, including
		but not limited to game development, web development, networking, and cloud computing.

		I am currently working in the financial tech industry as a software engineer in the Tax industry.
		Building VAT reclaims software.
	</p>
</body>

</html>

{{end}}
